@using System.Web.Mvc.Html
@using PerformanceTool.Models
@model List<UrlModel>
@{
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
<div class="container-fluid">
    <div class="jumbotron">
        <h2>Hi! Enjoy your website performance tool  :)))</h2>

        @using (Html.BeginForm("SendUrl", "Home", FormMethod.Post))
        {
            {
                string patternUrl = @"^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$";
                <input type="url" class="form-control" name="Url" placeholder="http(s)://example.com" value="" pattern="@patternUrl" required="required">
            }
            @Html.ValidationMessage("Url")
            <input type="submit" class="btn btn-default" value="Submit">
        }
        @if (Model != null && Model.Any())
            {
            <img src="@Url.Action("MyChart")" alt="SimpleChart" class="img-rounded">
            }
        <p>
            @if (Model != null)
            {
                <table class="table table-condensed">
                    <tr>
                        <td>Url (the slowest request is on top)</td>
                        <td>Page load<br />time,secs</td>
                        <td>Score by Page<br />Speed Insights</td>
                    </tr>
                    @foreach (var i in Model.OrderBy(o => o.PageLoadSeconds).ToList())
                    {
                        <tr>
                            <td>@i.Url</td>
                            <td>@String.Format("{0:0.00}", i.PageLoadSeconds)</td>
                            <td>@i.ScoreByGoogle</td>
                        </tr>
                    }
                </table>
            }
        </p>
    </div>
</div>